Unable to add MTA-STS MX wildcard patterns

### Contribution guidelines

- [x] I've read the [contribution guidelines](https://github.com/mailcow/mailcow-dockerized/blob/master/CONTRIBUTING.md) and wholeheartedly agree

### I've found a bug and checked that ...

- [x] ... I understand that not following the below instructions will result in immediate closure and/or deletion of my issue.
- [x] ... I have understood that this bug report is dedicated for bugs, and not for support-related inquiries.
- [x] ... I have understood that answers are voluntary and community-driven, and not commercial support.
- [x] ... I have verified that my issue has not been already answered in the past. I also checked previous [issues](https://github.com/mailcow/mailcow-dockerized/issues).

### Description

```plain text
According to [RFC 8461, section 3.2](https://datatracker.ietf.org/doc/html/rfc8461#section-3.2),

> [v]alid patterns [for MX values] can be either fully specified names ("example.com") or suffixes prefixed by a wildcard ("*.example.net").

Suffixes prefixed by a wildcard are not currently supported due to https://github.com/mailcow/mailcow-dockerized/blob/7ce3b0faedcde909945ea4439f6fe310f04efe57/data/web/inc/functions.mailbox.inc.php#L1449 and https://github.com/mailcow/mailcow-dockerized/blob/7ce3b0faedcde909945ea4439f6fe310f04efe57/data/web/inc/functions.mailbox.inc.php#L3905
```

### Logs:

```plain text
No relevant logs
```

### Steps to reproduce:

```plain text
1. Navigate to the “MTA-STS” tab of a domain added to mailcow
2. Add a reasonable value for “Max age” and `*.example.net` as “MX server”
3. Check “Active”
4. Save changes
5. Observe the error message “MX record *.example.net is invalid”
```

### Which branch are you using?

master

### Which architecture are you using?

ARM64 (aarch64)

### Operating System:

Fedora CoreOS 42.20250818.3.0

### Server/VM specifications:

8 GB / 4 cores (Hetzner CAX21)

### Is Apparmor, SELinux or similar active?

yes

### Virtualization technology:

KVM

### Docker version:

28.3.3

### docker-compose version or docker compose version:

2.39.2

### mailcow version:

2025-09

### Reverse proxy:

nginx

### Logs of git diff:

```plain text
Nothing related to the issue
```

### Logs of iptables -L -vn:

```plain text
Not related to the issue
```

### Logs of ip6tables -L -vn:

```plain text
Not related to the issue
```

### Logs of iptables -L -vn -t nat:

```plain text
Not related to the issue
```

### Logs of ip6tables -L -vn -t nat:

```plain text
Not related to the issue
```

### DNS check:

```plain text
I disabled the `acme` container, but generally the DNS setup is working fine.
```

Thanks, will be fixed with next release (hopefully today)