SCRAM-SHA-1(-PLUS) + SCRAM-SHA-256(-PLUS) supports

"When using the SASL SCRAM mechanism, the SCRAM-SHA-256-PLUS variant SHOULD be preferred over the SCRAM-SHA-256 variant, and SHA-256 variants [RFC7677] SHOULD be preferred over SHA-1 variants [RFC5802]".

Can you add support for?
- SCRAM-SHA-1(-PLUS):
-- https://tools.ietf.org/html/rfc5802
-- https://tools.ietf.org/html/rfc6120

- SCRAM-SHA-256(-PLUS):
-- https://tools.ietf.org/html/rfc7677 since 2015-11-02
-- https://tools.ietf.org/html/rfc8600 since 2019-06-21: https://mailarchive.ietf.org/arch/msg/ietf-announce/suJMmeMhuAOmGn_PJYgX5Vm8lNA

LDAP:
- RFC5803: Lightweight Directory Access Protocol (LDAP) Schema for Storing Salted: Challenge Response Authentication Mechanism (SCRAM) Secrets: https://tools.ietf.org/html/rfc5803

I add SCRAM-SHA-512(-PLUS): https://xmpp.org/extensions/inbox/hash-recommendations.html

Linked to:
- https://github.com/scram-xmpp/info/issues/1

We cannot support new hashing schemes before they are [supported by SOGo](https://github.com/inverse-inc/sogo/blob/a257607a0676b5a4b1612cc731b126bb59e1b24d/SoObjects/SOGo/NSString%2BCrypto.m#L284). Once they are, Mailcow can easily add support by modifying [this file](https://github.com/mailcow/mailcow-dockerized/blob/1be5caf168a1b6d8e56f56047b88391b58a07872/data/web/inc/functions.inc.php#L374). We already [default to salted SHA256](https://github.com/mailcow/mailcow-dockerized/blob/1be5caf168a1b6d8e56f56047b88391b58a07872/data/web/inc/functions.inc.php#L10), which is the second best according to what you said.

@mkuron: Thanks for your comment, I have done a ticket:
- https://sogo.nu/bugs/view.php?id=4869

Currently SOGo documentation is not clear:
- https://github.com/inverse-inc/sogo/blob/master/Documentation/SOGoInstallationGuide.asciidoc
