DKIM: Support 3072 and 4096 bit RSA keys

### Summary

Currently, DKIM keys of arbitrary size can be uploaded manually, but generating keys is limited to 1024 and 2048 bit keys. Also, uploaded 3072 bit keys are incorrectly labeled as 2048 bit keys in the UI.

This issue proposes to allow generation of 1024, 2048 (default), 3072 and 4096 bit RSA keys directly in the UI and to correctly label keys of all valid key sizes.

### Motivation

Users may wish to choose larger key sizes for improved security.

### Additional context

[RFC 8031, section 3.2](https://datatracker.ietf.org/doc/html/rfc8301#section-3.2) states that

> Verifiers MUST be able to validate signatures with keys ranging from 1024 bits to 4096 bits.